.center-box { width: 450px; background: white; margin: 50px auto; padding: 30px; border: 1px solid #343A40; }
.center-box h2 { text-align: center; margin-bottom: 20px; }
input, select, textarea { width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; box-sizing: border-box; }
.btn { padding: 12px 28px; background-color: #007BFF; color: white; border: none; width: 100%; cursor: pointer; }